version: "3.8"

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins_qa
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - ./:/workspace
    working_dir: /workspace

volumes:
  jenkins_home:
